# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# PyCharm
*.iml
.idea/

# Eclipse/PyDev
.project
.pydevproject
.settings/

# Virtual environments
.venv/
venv/
ENV/
env/

# OS files
.DS_Store
Thumbs.db

# Development
*.backup
*.bak
/.logs/
/.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Source media files
/.media/
